.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.App-header {
  background-color: #282c34;
  height: 10vh; /* Adjust the height of the header */
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.Content {
  flex: 1;
  padding: 20px;
  box-sizing: border-box;
  /* Comment or adjust the text-align property if needed */
  /* text-align: center; */
}

.Footer {
  background-color: #282c34;
  color: white;
  height: 10vh; /* Adjust the height of the footer */
  display: flex;
  align-items: center;
  justify-content: center;
}

.card-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.card {
  width: 50%; /* Adjust the width as needed */
  padding: 20px;
  background-color: lavender;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.heading {
  text-align: center;
  font-size: 2rem;
  margin-bottom: 20px;
}

.form-container {
  display: flex;
  flex-direction: column;
}

.form-group {
  margin-bottom: 20px;
}

label {
  margin-bottom: 5px;
  font-size: 1.2rem;
}

input {
  width: 95%;
  padding: 10px;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.btn-register {
  background-color: #2f2da9;
  color: white;
  padding: 15px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  font-size: 1.2rem;
}

/* Add this CSS to your styles.css or App.css file */

body {
  font-family: 'Arial', sans-serif;
}

.contact-us-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 20px;
}

.contact-card {
  background-color: lavender;
  border-radius: 8px;
  padding: 20px;
  margin: 10px 0;
  width: 80vw; /* Set to 80% of viewport width */
  max-width: 600px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1, h2, p {
  font-size: 1.5rem;
  font-weight: bold;
}

button {
  background-color: #333;
  color: white;
  padding: 0.5em 1em;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 10px;
}

button:hover {
  background-color: #555;
}

/* ContactUs.css */

body {
  font-family: 'Arial', sans-serif;
}

.contact-us-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 20px;
}

.info-section {
  margin-bottom: 20px;
}

h2 {
  font-weight: bold;
}

hr {
  width: 80%;
  margin: 15px auto;
  border: 1px solid #ddd;
}

